@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: 0.7s;
}
section{
    padding:60px 20px;
}
.container{
    width: 1140px;
    margin: 0px auto;
    display: flex;
}
.first-section{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half-col{
    width: 48%;
    padding: 2%;
}
.ver-cen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.half-col > img{
    width: 100%;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h2 span{
    color: orange;
}
.subtitle{
    font-size: 20px;
    font-weight: 900;
}
.half-col p{
    font-size: 18px;
}
.button{
    width: fit-content;
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 6px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FFCC1B, #FF9F33);
}
.button:hover{
    background: linear-gradient(to left, #FFCC1B, #FF9F33);
}
.dream{
    background: url(../images/dream-bg.png) no-repeat center right;
}
.exper-head{
    text-align: center;
    margin-bottom: 20px;
}
.exper-col{
    height: 300px;
    margin: 2%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.ex-heading{
    font-size: 40px;
    margin-bottom: 20px;
}
.exper-col p{
    text-align: justify;
}
.experiences{
    background: url(../images/exp-bg.png) no-repeat center left;
}
#exer-col1{
    border-left: 10px solid;
    border-image: linear-gradient(#7F2CD7, #5D5DDD);
    border-image-slice: 1;
}
#exer-col2{
    border-left: 10px solid;
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    padding: 15px;
    font-size: 18px;
}